.imgUser {
    max-width: 10%;
    max-height: 10%;
    //background-color: black;
}

.sectionNavBar{
    background-color: #000000;
    
}

.navBarColor{
    //color: white;

}

.userMenu{
    color: white;
    background-color: black;

}